<ion-header>
  <ion-toolbar>
    <ion-title>feedback</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
	<ion-list>
		<ion-item>
			<ion-label>Name</ion-label>
			<ion-input type="text"></ion-input>
		</ion-item>
		
		<ion-item>
			<ion-avatar>
				<img src="">
			</ion-avatar>
			<ion-input type="number"></ion-input>
		</ion-item>
		
		<ion-item>
			<ion-label>Email</ion-label>
			<ion-input type="text"></ion-input>
		</ion-item>

		<ion-item>
			<ion-label>City</ion-label>
			<ion-input type="text"></ion-input>
		</ion-item>

		<ion-item>
			<ion-label>Enquiry Type </ion-label>
			<ion-select placeholder="Enquiry Type">
		   	<ion-select-option >General</ion-select-option>
		      <ion-select-option >Product</ion-select-option>
		      <ion-select-option >Delivery</ion-select-option>
		      <ion-select-option >Payment</ion-select-option>
		      <ion-select-option >Restaurant</ion-select-option>
		      <ion-select-option >Other</ion-select-option>
		   </ion-select>
		</ion-item>


		<ion-item>
			<ion-input type="text" placeholder="Description"></ion-input>
		</ion-item>

		<ion-button expand="block">Send</ion-button>

	</ion-list>

</ion-content>
