<ion-header>
  <ion-toolbar>
    <ion-title>Faq</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

<p>1. How many days does it take to deliver an item?</p>
<p>For Domestic Couriers: By surface 4-5 Business days (after Dispatch)</p>
<p>By Air - 3-4 business days (after Dispatch)</p>
<p>For International Couriers: 7 - 10 Business Days (after Dispatch)</p>
<p>All &ldquo;Ready to Ship &ldquo;Orders will be dispatched in 24-36 business hours once order is placed.</p>
<p>&nbsp;</p>
<p>2. Who Are your Courier Partners?</p>
<p>We are having tie up with best courier companies like DTDC, Fedex, Indian Post, etc.</p>
<p>&nbsp;</p>
<p>3. Is the shipping charge calculated on weight of the package?</p>
<p>Yes. The shipping charges are calculated on the weight of the products in your order. You can view the shipping cost in your cart at checkout.</p>
<p>&nbsp;</p>
<p>4. Do you ship to my country? Can I track the consignment once you ship it from India?</p>
<p>Yes. We deliver to almost all parts of the world. You will receive the tracking details (Airwaybill number) along with the name of the courier company from which it has been shipped. You would be able to track the consignment on real time basis. Tacking details are provided for all the consignments - domestic or International.</p>
<p>&nbsp;</p>
<p>5. What is billing address? What is shipping address?</p>
<p>The address where you receive your purchase statements (Bills) is Billing address. The place where consignment is to be delivered is shipping address. Billing and shipping address can be same. If you are reseller you can send orders directly to your customers by keeping their details in Shipping Address &amp; your details in Billing Address.</p>
<p>&nbsp;</p>
<p>6. Do I Have To Pay customs , Duties And Taxes?</p>
<p>While sending we make sure to send it in such a way that none of our customers should be liable to pay customs duties or taxes. However due to any unusual circumstances if applicable All custom duties and taxes are to be borne by the customers.</p>
<p>&nbsp;</p>
<p>7. What is the procedure to return a product, If I don&rsquo;t like it?</p>
<p>We deal only in Branded Products hence quality is up to the mark. We conduct in-house Quality Check of each product before dispatching. Also, we guide our customers with maximum description of the product. Hence we do not have Exchange policy. However in case of any manufacturer defect or Wrong product delivered or similar related circumstances we can consider your case. Kindly read our Return policy mentioned in Terms Of Use for detailed understanding of the same.</p>
<p>&nbsp;</p>
<p>8. What should I do if I find my package opened or tampered with upon delivery?</p>
<p>Please don&rsquo;t accept an opened or tampered package. Please drop us a mail at support@nishikacreation.com with your order details to report such a delivery.</p>
<p>&nbsp;</p>
<p>9. How can we return the damaged product?</p>
<p>You can send us the snapshots on support@nishikacreation.com. Once approved from our end you can send the products back to us. Once we received the same we will be providing you with the Coupon code for the same amount for your next purchase.</p>
<p>&nbsp;</p>
<p>10. Why have I not received my product yet?</p>
<p>You might have book the products which are in Pre Booking Zone. Also, sometime shipping company takes longer than expected to deliver a package due to certain conditions. If you have received a tracking number and still your product is not being delivered, please inform us via email at support@nishikacreation.com or call us so that we can expedite the delivery.</p>
<p>&nbsp;</p>
<p>11. How can I get the tracking information?</p>
<p>Post Dispatching your order you will receive an auto generated email which would have the details of the items which have been shipped along with the tracking information.</p>
<p>&nbsp;</p>
<p>12. How to track my Consignment ?</p>
<p>You can Click on &ldquo;Track Order&rdquo; option available on website. Select the name of the company &amp; Enter tracking details to get real time status of your order</p>
<p>&nbsp;</p>
<p>13. I am a Reseller . Can I Get WhatsApp updates on Daily basis?</p>
<p>Yes . You can add our number on WhatsApp and ping us with your name and Location. Our executives who will handle your account and update you with New launched catalogs.</p>

</ion-content>
