<ion-header>
  <ion-toolbar>
    <ion-title>MyFavourites</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
	<ion-grid>
		<ion-row>
			<ion-col size="6">
				<ion-img src=""></ion-img>
			</ion-col>

			<ion-col size="6">
				<ion-img src=""></ion-img>
			</ion-col>
		</ion-row>
	</ion-grid>

</ion-content>
