<ion-header>
  <ion-toolbar>
    <ion-title>Hotel Info</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<ion-list>
	<ion-item>
		<ion-label >Name</ion-label>
		<ion-label >Hotel Name</ion-label>
	</ion-item>
	<ion-item>
		<ion-label >City</ion-label>
		<ion-label >City Name</ion-label>
	</ion-item>
	<ion-item>
		<ion-label >Area</ion-label>
		<ion-label >Area Name</ion-label>
	</ion-item>
	<ion-item>
		<ion-label >Status</ion-label>
		<ion-label >Open/Close</ion-label>
	</ion-item>
	<ion-item>
		<ion-label >Cuisine</ion-label>
		<ion-label >List</ion-label>
	</ion-item>
	<ion-item>
		<ion-label >Opening Hours</ion-label>
		<ion-label >Time</ion-label>
	</ion-item>
	<ion-item>
		<ion-label >Delivery Time</ion-label>
		<ion-label >Time</ion-label>
	</ion-item>
	<ion-item>
		<ion-label >Minimum Order</ion-label>
		<ion-label >Rs</ion-label>
	</ion-item>
	<ion-item>
		<ion-label >Delivery Fee</ion-label>
		<ion-label >Rs</ion-label>
	</ion-item>
	<ion-item>
		<ion-label >Payment Methods</ion-label>
		<ion-label >COD/Cards/etc...</ion-label>
	</ion-item>
</ion-list>
</ion-content>
