<ion-header>
  <ion-toolbar color="primary">
   <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Menu</ion-title>
    <ion-buttons slot="end">
      <ion-icon name="information-circle-outline" (click)="hotelInfo()"></ion-icon>
      <ion-icon name="heart-empty"></ion-icon> 
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >
	<ion-searchbar></ion-searchbar>

	<ion-slides #mySlider (ionSlidesDidLoad)="slidesDidLoad(mySlider)">

    <ion-slide>
      <h1>Slide 1</h1>
    </ion-slide>

    <ion-slide>
      <h1>Slide 2</h1>
    </ion-slide>

    <ion-slide>
      <h1>Slide 3</h1>
    </ion-slide>
  </ion-slides>

<ion-list >
  <ion-item (click)="hotelPage()">
   
    <ion-img src=""></ion-img>       
      <h5>Hotel Name</h5>
    
      <ion-icon name="star"></ion-icon>
      <ion-badge>4.4</ion-badge>
    
      rs 100 
          
        
  </ion-item>
  <ion-item (click)="hotelPage()">

  <ion-img src=""></ion-img>       
    <h5>Hotel Name</h5>

    <ion-icon name="star"></ion-icon>
    <ion-badge>4.4</ion-badge>

    rs 100 
        
      
  </ion-item>
<!-- 
  <ion-item>
  </ion-item> -->
</ion-list>

</ion-content>
