<ion-tabs >

  <ion-tab-bar slot="bottom" color="tertiary">
    
    <ion-tab-button tab="tab1">
      <ion-icon name="restaurant"></ion-icon>
      <ion-label>Restaurants</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="basket"></ion-icon>
      <ion-label>My cart</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="cart"></ion-icon>
      <ion-label>My orders</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="account">
      <ion-icon name="person"></ion-icon>
      <ion-label>Account</ion-label>
    </ion-tab-button>
  
  </ion-tab-bar>

</ion-tabs>
