<ion-header>
  <ion-toolbar>
  <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Review Order
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
	<h5>Hotel Name</h5>
	<ion-card>
		<h6>Item Name</h6>
		<ion-label>
			<ion-icon name="remove"></ion-icon>2
			<ion-icon name="add"></ion-icon>
		</ion-label>
		<ion-label>* Item Price</ion-label>
		<ion-label >
			Total Price
		</ion-label>
	</ion-card>


</ion-content>




<ion-footer>
  <ion-toolbar>
  	<ion-item lines="inset">
    <ion-label >subtotal</ion-label>
    <ion-label >Rs XXXX</ion-label>
	</ion-item>
	
		<ion-button expand="full">Add More</ion-button>
		<ion-button expand="full">Checkout</ion-button>
	
  </ion-toolbar>
</ion-footer>