<ion-header>
  <ion-toolbar>
    <ion-title>MyAddress</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
	<ion-card>
		<ion-icon name="compass"></ion-icon>
		Add New Address
	</ion-card>

</ion-content>
