<ion-header>
  <ion-toolbar color="tertiary" (click)="openLocation()" >

	<ion-thumbnail slot="start" class="logo">
	  <img src="assets/images/logo.png">
	</ion-thumbnail>
	<ion-label class="logo">Location</ion-label>
	
    
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-grid>
		<ion-row class="ion_row">

			<ion-col size=6 (click)="openMenu()">
				<img src="assets/images/chicken.png" height="101px" >
				<ion-label>Chicken</ion-label>
			</ion-col>

			<ion-col size=6 (click)="openMenu()">
					<img src="assets/images/pizza.png" height="101px">
				<ion-label>Pizza</ion-label>
			</ion-col>

		</ion-row>
			
		<ion-row class="ion_row">
			
			<ion-col size=6 (click)="openMenu()">
				<img src="assets/images/juice.png" height="101px">
				<ion-label>Beverages</ion-label>
			</ion-col>
		
			<ion-col size=6 (click)="openMenu()">
				<img src="assets/images/burger.png" height="101px">
				<ion-label>Burger</ion-label>
			</ion-col>

		</ion-row>
	
	</ion-grid>
</ion-content>
