<ion-header>
  <ion-toolbar>
    <ion-title>Hotel</ion-title>
  </ion-toolbar>
</ion-header>

<!-- <ion-content> -->



<!-- </ion-header> -->

<ion-content >   




<ion-card>
    <ion-item>
   <ion-thumbnail slot="start">
    <ion-img src=""></ion-img>       
   </ion-thumbnail> 
      <h5>Hotel Name</h5>
     
      <ion-icon name="star"></ion-icon>
      <ion-badge>4.4</ion-badge>
    
      rs 100 
  </ion-item>
</ion-card>          
        



    <ion-segment [(ngModel)]="page" color="dark">
        <ion-segment-button value="page 1" (click)="selectedTab(0)">page 1
            <!-- <ion-icon name="camera"></ion-icon> -->
        </ion-segment-button>
        <ion-segment-button value="page 2" (click)="selectedTab(1)"> page 2
            <!-- <ion-icon name="bookmark"></ion-icon> -->
        </ion-segment-button>
        <ion-segment-button value="page 3" (click)="selectedTab(2)">page 3
               <!--  <ion-icon name="camera"></ion-icon> -->
            </ion-segment-button>
    </ion-segment>



    <ion-slides #slider>
        <ion-slide>
            
            <ion-item>
                <h4>Menu Name</h4>
                <ion-img src="" slot="start" ></ion-img>
                <p>rs 100</p>
                <ion-button slot="end" (click)="OpenItemDdetails()"> Add
                </ion-button>
            </ion-item>
            

           <!--  <ion-item>
                <h4>Menu Name</h4>
                <ion-img src="" slot="start"></ion-img>
                <p>rs 100</p>
                <ion-button slot="end"> Add
                </ion-button>
            </ion-item> -->

        </ion-slide>

        <ion-slide>
             <ion-item>
                <h4>Menu Name</h4>
                <ion-img src="" slot="start"></ion-img>
                <p>rs 100</p>
                <ion-button slot="end" (click)="OpenItemDdetails()"> Add
                </ion-button>
            </ion-item>
        </ion-slide>

        <ion-slide>
             <ion-item>
                <h4>Menu Name</h4>
                <ion-img src="" slot="start"></ion-img>
                <p>rs 100</p>
                <ion-button slot="end" (click)="OpenItemDdetails()"> Add
                </ion-button>
            </ion-item>
        </ion-slide>
    </ion-slides>
</ion-content>
