<ion-header>
  <ion-toolbar>
    <ion-title>Terms</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
	<ion-card>
		<ion-card-header>
			Terms and Conditions
		</ion-card-header>
		<ion-card-content>
			<p>
			These terms and conditions layout the standards and directions for the utilization of INDIAN AGRO GROUP's Website.By getting to this site we expect you acknowledge these terms and conditions in full. Try not to keep on using INDIAN AGRO GROUP's website,if you don't acknowledge the greater part of the terms and conditions expressed on this page.The following phrasing applies to these Terms and Conditions, Privacy Statement and Disclaimer Notice and any or all Agreements: "Customer", "You" and "Your" alludes to you, the individual getting to this site and tolerating the Company's expressions and conditions. "The Company", "Ourselves", "We", "Our" and "Us", alludes to our Company. "Gathering", "Gatherings", or "Us", alludes to both the Client and ourselves, or either the Client or ourselves.
		</p>
		<p>
		All terms allude to the offer, acknowledgment and thought of installment important to attempt the procedure of our help to the Client in the most suitable way, regardless of whether by formal gatherings of a settled length, or some other means, for the express reason for addressing the Client's needs in regard of arrangement of the Company's expressed administrations/items, as per and subject to, winning law of india. Any utilization of the above phrasing or different words in the solitary, plural,capitalisation as well as he/she or they, are taken as tradable and thusly as alluding to same.
		</p>
		<p>
		We utilize the utilization of treats. By utilizing INDIAN AGRO GROUP's site you agree to the utilization of treats as per INDIAN AGRO GROUP's security policy.Most of the advanced intelligent sites utilize treats to empower us to recover client points of interest for each visit. Treats are utilized as a part of a few territories of our site to empower the usefulness of this region and usability for those individuals going to. A portion of our offshoot/publicizing accomplices may likewise utilize treats. INDIAN AGRO GROUP as well as it's licensors claim the protected innovation rights for all material on INDIAN AGRO GROUP. All licensed innovation rights are held. You may see and additionally print pages from all domans for your very own utilization subject to limitations set in these terms and conditions.
		</p>
		</ion-card-content>

	</ion-card>

</ion-content>
