<ion-header>
  <ion-toolbar>
    <ion-title>My Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
	<ion-card>
		<ion-item lines="inset">
			<ion-label>Name of user</ion-label>
			<ion-icon name="create"></ion-icon>
		</ion-item>
		<h6>E-mail Address</h6>
		<h6>+91 XXXXXXXXXX</h6>
	</ion-card>



	<ion-list >

		<ion-item (click)="liveChat()">
			<ion-icon name="chatboxes" padding></ion-icon>
			<ion-label>Live Chat</ion-label>
		</ion-item>
		<ion-item (click)="offers()">
			<ion-icon name="pricetag" padding></ion-icon>
			<ion-label>Offers</ion-label>
		</ion-item>
		<ion-item (click)="notifications()">
			<ion-icon name="notifications" padding></ion-icon>
			<ion-label>Notifications</ion-label>
		</ion-item>
		<ion-item (click)="address()">
			<ion-icon name="business" padding></ion-icon>
			<ion-label>My Address</ion-label>
		</ion-item>
		<ion-item (click)="terms()">
			<ion-icon name="clipboard" padding></ion-icon>
			<ion-label>Terms & Condition</ion-label>
		</ion-item>
		<ion-item (click)="privacyPolicy()">
			<ion-icon name="bookmark" padding></ion-icon>
			<ion-label>Privacy policy</ion-label>
		</ion-item>
		<ion-item (click)="faq()">
			<ion-icon name="help" padding></ion-icon>
			<ion-label>FAQ</ion-label>
		</ion-item>
		<ion-item (click)="favourites()">
			<ion-icon name="heart-empty" padding></ion-icon>
			<ion-label>My Favourites</ion-label>
		</ion-item>
		<ion-item (click)="feedback()">
			<ion-icon name="paper" padding></ion-icon>
			<ion-label>Send feedback</ion-label>
		</ion-item>
		<ion-item >
			<ion-icon name="power" padding></ion-icon>
			<ion-label>Log Out</ion-label>
		</ion-item>

	</ion-list>

</ion-content>
