<ion-header>
  <ion-toolbar>
    <ion-title>ItemDetails</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

	<ion-card>
		<ion-img src=""></ion-img>
		<h4>Item Name</h4>
	</ion-card>
	<ion-card>
		<h4>Special Request (optional)</h4>
		<ion-input type="text" placeholder="Type Here...."></ion-input>
	</ion-card>
	<ion-card>
		<h4>Quantity</h4>
		<ion-chip >
			<ion-icon name="remove" (click)="subOneItem()"></ion-icon>
			{{i}}
			<ion-icon name="add" (click)="addOneItem()"></ion-icon>
		</ion-chip>
		<ion-button expand="block">ADD TO CART</ion-button>
	</ion-card>

</ion-content>
