<ion-header>
  <ion-toolbar>
    <ion-title>offers</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >

<ion-segment [(ngModel)]="page" color="dark">
  <ion-segment-button value="page 1" (click)="selectedTab(0)">Promotions
  </ion-segment-button>
  <ion-segment-button value="page 2" (click)="selectedTab(1)">Coupons
</ion-segment-button>
 
</ion-segment>

<ion-slides #slider>
	<ion-slide>

		<ion-item>
			<ion-thumbnail slot="start">
			  <img src="">
			</ion-thumbnail>
			<h4>hotel Name</h4>
		</ion-item>
	
	</ion-slide>
	<ion-slide>
 	
	 	<ion-item>
	 		<h6>not available</h6>
	   </ion-item>		
		
	</ion-slide>

</ion-slides>



</ion-content>
